asgiref==3.4.1
backcall==0.2.0
certifi==2021.5.30
charset-normalizer==2.0.6
decorator==5.1.0
Django==3.2.7
django-memoize==2.3.1
django-redis==5.0.0
idna==3.2
ipython==7.28.0
jedi==0.18.0
matplotlib-inline==0.1.3
parso==0.8.2
petl==1.7.4
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.20
psycopg2-binary==2.9.1
ptyprocess==0.7.0
Pygments==2.10.0
pytz==2021.1
redis==3.5.3
requests==2.5.0
six==1.8.0
sqlparse==0.4.2
traitlets==5.1.0
typing-extensions==3.10.0.2
ujson==1.33
urllib3==1.26.7
wcwidth==0.2.5
